  <h1>
    <%= heading %>
  </h1>
  <p>
    <%= message %>
  </p>

  <blockquote>
    <% items.forEach((item, i)=> {
      i++ %>
      <li>
        <%= i %> айтем: <%= item %>
      </li>
      <% }); %>
  </blockquote>

  <ul>
    <% users.forEach((user)=> { %>
      <%- include('user', { user: user }) %>
        <% }); %>
  </ul>