<h2>Список пользователей:</h2>

<ul>

    <% users.forEach((user, i)=> {%>
        <li>
            <p>
                <%= ++i %> пользователь:
            </p>
            <% Object.keys(userFormSchema).forEach(key => {%>
                <p>
                    <% if (user[key]) { %>
                        <%= userFormSchema[key].label %>: <%= user[key] %>
                    <% } %>
                </p>
                <%}); %>
        </li>
        <a href="/<%= user.id %>/edit">Редактировать</a>
        <a href="/<%= user.id %>/delete">Удалить</a>
        <% }) %>

</ul>

<a href="/create-user">Создать пользователя</a>