<%- include('partials/navigation') %>
    </br>
    <a href="/clubhouse/add-comment">Добавить коммент</a>

    <%- include('partials/login-form') %>

        <h2>Список комментариев:</h2>

        <ul class="comments-list">
            <% //console.log('🚀 ~ user:', user); %>
            <% comments.forEach(comment => {%>
                <li>
                    <% Object.keys(commentFormSchema).forEach(key => {
                        if ((key === 'username' || key === 'createdAt') && (user.role !== 'MEMBER' && user.role !==
                        'ADMIN')) {
                        return
                        }
                        %>
                        <p>
                            <%= commentFormSchema[key].label %>: <%- comment[key] %>
                                    <% %>
                        </p>
                        <%}); %>
                    <% if (user.role ==='ADMIN' ) { %>
                    <a href="/clubhouse/<%= comment.comment_id %>/edit">Редактировать</a>
                    <a href="/clubhouse/<%= comment.comment_id %>/delete">Удалить</a>
                    <% } %>
                        <% }) %>
                </li>
        </ul>