<a href="/">На главную</a>

<h2>Список игр:</h2>

<ul>
    <% games.forEach(game => {%>
        <li>
            <p>
                ID: <%= game.id %>
            </p>
            <% Object.keys(formSchema).forEach(key => {%>
                <p>
                        <%= formSchema[key].label %>: <%- game[key] %>
                    <%  %>
                </p>
                <%}); %>
        </li>
        <a href="/games/<%= game.id %>/edit">Редактировать</a>
        <a href="/games/<%= game.id %>/delete">Удалить</a>
        <% }) %>
</ul>

<a href="/games/add-game">Добавить игру</a>

<h4>Поиск</h4>
<form action="/games/search-game" method="get">
    <label for="firstname">Имя</label>
    <input type="text" id="firstname" name="firstname" value="MIKHAIL"/>
    <label for="email">Почта</label>
    <input type="text" id="email" name="email" value="navi-lonely@mail.ru"/>
    <button type="submit">Найти</button>
</form>

<% if (typeof searchQueryResponse !== 'undefined') { %>
    <pre><%= JSON.stringify(searchQueryResponse, null, 2) %></pre>
<% } %>