<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>
    
<form action="<%= endpoint %>" method="post">
    <% Object.keys(signUpFormSchema).forEach((field) => { %>
        <div>
        <label for="<%= field %>"><%= signUpFormSchema[field].label %></label>
        <input 
            value="<%= user[field] %>" 
            type="<%= signUpFormSchema[field].type %>" 
            id="<%= field %>" 
            name="<%= field %>" 
        />
        </div>
        <% if (errorsMap[field]) { 
            console.log('Есть ошибка!');
            console.log('errorsMap[field]', errorsMap[field])%>
            <div>
                <%= errorsMap[field].msg %>
            </div>
        <% } %>
        <% }); %>
        <button type="submit">Submit</button>
</form>

</body>

</html>
