<% if (isAuthenticated) { 
    console.log(user)%>
    <p>Привет, <%= user.username %>!</p>
    <a href="/logout">Logout</a>
    <% } else { %>
        <h1>Log In</h1>
        

        <form action="/login" method="post">
    <% Object.keys(loginFormSchema).forEach((field) => { %>
        <div>
        <label for="<%= field %>"><%= loginFormSchema[field].label %></label>
        <input 
            value="<%= user[field] %>" 
            type="<%= loginFormSchema[field].type %>" 
            id="<%= field %>" 
            name="<%= field %>" 
            <% if (loginFormSchema[field].required) { %>
            required
            <% } %>
        />
        </div>
        <% if (errorsMap[field]) { 
            console.log('Есть ошибка!');
            console.log('errorsMap[field]', errorsMap[field])%>
            <div>
                <%= errorsMap[field].msg %>
            </div>
        <% } %>
        <% }); %>
        <button type="submit">Submit</button>
</form>
<% } %>

